header {background-color: darkblue;
display: flex;}

h1, h3 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
;
font-size;}

img { width: 200px;
border-radius: 50%;
border: solid 4px blue;}

.centrar { ;
margin:auto;
text-align: center;}

main {background-color: lightgray;
display: flex;}

aside { flex-direction: column;
    background-color: cornflowerblue;
flex-basis: 35%;
}

section {
    flex-direction: 
}

footer {background-color: darkblue;}

